# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
package-lock.json
npm-shrinkwrap.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
pnpm-debug.log*
yarn-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
